@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,800;0,900;1,400&family=Roboto:ital,wght@0,300;0,900;1,100;1,500&display=swap");
.navbar {
  background-color: white;
}
.navbar img {
  margin-left: 50px;
}
.navbar ul li {
  margin-left: 50px;
}
.navbar ul li a {
  color: #0d80f1;
  font-weight: 2.5rem;
  font-family: "Montserrat", sans-serif;
  padding: 0 0.25rem;
  margin: 0 -0.25rem;
  box-shadow: inset 0 0 0 0 var(#0d80f1);
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  color: #0d80f1;
  border-radius: 10px;
}
.navbar ul li a:hover {
  color: #dde2e4;
  box-shadow: inset 150px 0 0 0 #0d80f1;
  border-radius: 10px;
}

.navbar-toggler {
  width: 40px;
  height: 40px;
  position: relative;
  transition: 0.5s ease-in-out;
  margin-right: 50px;
}
.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #1085fb;
  border-radius: 1.5px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.middle-bar {
  margin-top: 0px;
}

/* when navigation is clicked */
.navbar-toggler .top-bar {
  margin-top: 0px;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  margin-top: 0px;
  transform: rotate(-135deg);
}

/* State when the navbar is collapsed */
.navbar-toggler.collapsed .top-bar {
  margin-top: -20px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  margin-top: 20px;
  transform: rotate(0deg);
}

.header {
  background-image: url(../img/bg.png);
  background-size: cover;
  margin-top: 150px;
}
.header h1 {
  font-family: "Montserrat", sans-serif;
  color: #0d80f1;
}
.header p {
  font-family: "Montserrat";
  font-size: 1.3rem;
  font-weight: 400;
  color: #1c1c1c;
}

.servicios {
  margin-top: 150px;
}

.carousel-item p {
  font-family: "Montserrat";
  font-size: 1.3rem;
  font-weight: 400;
  color: #dde2e4;
}

.marcas {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 150px;
}
.marcas h3 {
  text-align: center;
  font-family: "Montserrat";
  font-size: 2.2rem;
  font-weight: 600;
  color: #0d80f1;
}
.marcas p {
  text-align: center;
  font-family: "Montserrat";
  font-size: 1.3rem;
  font-weight: 400;
  color: #1c1c1c;
}
.marcas img {
  height: 200px;
  width: 200px;
  margin: 15px 0;
}
.marcas img:hover {
  transform: scale(1.2, 1.2);
  transition: transform 0.5s;
}

a {
  color: #0d80f1;
  text-decoration: none;
}

a:hover {
  color: #85b8ed;
  text-decoration: none;
}

::-moz-selection {
  background: #85b8ed;
  text-shadow: none;
}

::selection {
  background: #85b8ed;
  text-shadow: none;
}

footer {
  padding: 2rem 0;
  background-color: white;
}

.footer-column:not(:first-child) {
  padding-top: 2rem;
}
@media (min-width: 768px) {
  .footer-column:not(:first-child) {
    padding-top: 0rem;
  }
}

.footer-column {
  text-align: center;
}
.footer-column .nav-item .nav-link {
  padding: 0.1rem 0;
}
.footer-column .nav-item span.nav-link {
  color: #1c1c1c;
}
.footer-column .nav-item span.footer-title {
  font-size: 14px;
  font-weight: 600;
  color: #1c1c1c;
  text-transform: uppercase;
}
.footer-column .nav-item .fas {
  margin-right: 0.5rem;
}
.footer-column ul {
  display: inline-block;
}
@media (min-width: 768px) {
  .footer-column ul {
    text-align: left;
  }
}

.lc-block h2 {
  color: #1085fb;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
  background-color: #85b8ed;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  transition: all 0.3s;
  color: #fff;
  border-radius: 100%;
  outline: 0;
  background-color: #0d80f1;
}

footer .quick-links {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.copyright {
  color: #7a7a7a;
}

.fa-ellipsis-h {
  color: #7a7a7a;
  padding: 2rem 0;
}

.products {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.product-card {
  width: 380px;
  position: auto;
  box-shadow: 0 2px 7px #dfdfdf;
  margin: 50px auto;
  background: #fafafa;
  overflow: hidden;
}

.badge {
  position: auto;
  left: 0;
  top: 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  background: #1085fb;
  color: #fff;
  padding: 3px 10px;
}

.product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  padding: 50px;
  background: #f0f0f0;
}
.product-tumb img {
  max-width: 100%;
  max-height: 100%;
}

.product-details {
  padding: 30px;
}
.product-details a {
  font-weight: 500;
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: #363636;
  text-decoration: none;
  transition: 0.3s;
}
.product-details a:hover {
  color: #1085fb;
}
.product-details p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 18px;
  color: #999;
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}
.product-bottom-details div {
  float: left;
  width: 50%;
}

.product-price {
  font-size: 18px;
  color: #1085fb;
  font-weight: 600;
}
.product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}

.product-links {
  text-align: right;
}
.product-links a {
  display: inline-block;
  margin-left: 5px;
  color: #e1e1e1;
  transition: 0.3s;
  font-size: 17px;
}
.product-links:hover {
  color: #1085fb;
}

.product-catagory {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 18px;
}

.head-products {
  margin-top: 150px;
  height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
}
.head-products h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  color: #0d80f1;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.head-products h2 {
  font-size: 1.8rem;
  text-align: center;
  margin-top: 20px;
}
.head-products p {
  font-size: 1rem;
  text-align: center;
  margin-top: 20px;
}/*# sourceMappingURL=main.css.map */