@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;800;900&family=Roboto:ital,wght@0,300;0,900;1,100;1,500&display=swap');

:root {
   --link-1: #1085fb;
   --link-2: #1085fb;
   
 }

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   font-family: 'Roboto', sans-serif;
   animation-name: Opacity;
   animation-duration: 2s;
  /* background-image: url(/img/background.png);
   background-repeat: repeat;*/
   
}
.anuncio{
   display: flex;
   justify-content: center;
   background-color: #1085fb;
   color: white;
   font-size: 1em;
   font-weight: 600;
   width: 100%;
   
}

 /* start nav */  
.navbar{
   background-color: white;
   display: grid;
   grid-template-columns: repeat(8, 1fr);
   align-items: center;
   position: sticky;
   top: 0;
   z-index: 100vh;
   
}

.navbar .logo{
   width: 104px;
   height: 104px;
   grid-column: 2 / 3;
}

.navbar .menu{
   grid-column: 3 / 8;
   display: flex;
   justify-content: space-around;
}

.navbar .menu li{
   list-style: none;
   font-size: 1.5rem;
}

.menu a{
   text-decoration: none;
   color: black;
   
 }
   .menu a:hover{
   background-color: transparent;
   color: #1085fb;
   transition: 0.3s;
}
#nav-menu {
   padding: 0 0.25rem;
   margin: 0 -0.25rem;
   box-shadow: inset 0 0 0 0 var(--link-1);
   transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
   color: var(--link-1);
 }
 #nav-menu:hover {
   color: white;
   box-shadow: inset 150px 0 0 0 var(--link-1);
 }
.navbar .menu-bar{
   display: none;   
}
.hamburger-btn{
   width: 80px;
   height: 80px;
}  
.navbar .login{
   grid-column: 8 / 9 ;
   width: 20px;
   height: 20px;
}

 /* end nav */

 /* start header */

.head{
   height: 600px;
   background: url( /img/bg.png);
   background-size: auto;
   max-width: 100%;
   display: flex;
   justify-content:center;
   flex-direction: column;
   align-items:flex-start;
   
}
   .head h3{
   font-size: 2rem;
   color: #1085fb;
   margin-bottom: 20px;
   font-family: "Montserrat";
   font-weight: 600;
   margin-left: 50px;  
   }
   .head h1{
   font-size: 4rem;
   font-weight: 900;
   font-style: italic;
   margin-left: 50px;
   }
   .head p{
   font-size: 1.2rem;
   font-weight: 100;
   margin-top: 20px;
   font-weight: 400;
   font-family: "Montserrat";
   width: 300px;
   margin-left: 50px;
}
.btn{
   background-color: transparent;
   border: none; 
   color: black; 
   font-size: 30px; 
   font-weight: 400;
   padding: 10px 45px; 
   cursor: pointer; 
   transition: 0.3s;
   margin-top: 20px; 
   font-family: "Montserrat";
   margin-left: 50px;
   }
   
   .btn:hover{ 
   background-color: transparent; 
   color: black;  
   transition: 0.3s; 
  }

#btn-head {
   background-image: linear-gradient(transparent 50%, var(--link-2) 50%);
   background-size: auto 190%;
   border-radius: 10px;
   transition: background 0.3s ease-in-out;
 }
 #btn-head:hover {
   background-position-y: 100%;
 } 

  /* end header */

  /*start main */
   /* start seccion servicios*/
  

.servicios{
   background-image: url(../img/bg-servicios.jpg);
   background-size: auto;
   max-width: 100%;
   display: flex;
   height: 600px;
   margin-top: 200px;
   flex-flow: row wrap;
   justify-content: center;
   align-items: center;
}
   .servicios h2{
   font-size: 4rem;
   font-weight: 900;
   font-style: italic;
   color: white;
   }

   .servicios p{
   font-size: 1.2rem;
   font-weight: 100;
   margin-top: 20px;
   color:white;
   width: 300px;
}
.btn-servicios{
   background-color: transparent; 
   color: white; 
   font-size: 30px; 
   padding: 10px 45px; 
   cursor: pointer; 
   transition: 0.3s;
   margin: 20px 20px;
   border: none;
   font-family: "Montserrat", "Sans-Serif";
}
  .btn-servicios:hover{
   background-color:transparent;
   color: #1085fb;
   transition: 0.3s;
}
/* end seccion servicios*/
/* start seccion marcas*/
.marcas{
   background-image: url(../img/bg-marcas.jpg);
   background-size: auto;
   max-width: 100%;
   display: flex;
   height: 600px;
   margin-top: 200px;
   flex-flow: row wrap;
   justify-content: center;
   align-items: center;
}
   .marcas h3{
   font-size: 2rem;
   color: black;
   margin-bottom: 20px;
   font-family: "Montserrat", "Sans-Serif";
   font-weight: 600;
   margin-left: 50px;
   }

   .marcas p{
   font-size: 1.2rem;
   font-weight: 100; 
   margin-top: 20px;
   font-weight: 400;
   font-family: "Montserrat", "Sans-Serif";
   width: 300px;
   margin-left: 50px;
}

.logo-marcas img{
   height: 200px;
   width: 200px;
   margin: 15px 0;
   }
   .logo-marcas img:hover{
   transform:scale(1.2,1.2);
   transition: transform 0.5s;  
}
   /*end seccion marcas */
/*end main/
/*start footer*/
.footer{
  /* background-image: url(../img/bg-footer.jpg);
   background-size: auto;*/
   max-width: 100%;
   display: flex;
   height: 300px;
   margin-top: 100px;
   flex-flow: column nowrap;
   justify-content: space-around;
   align-items: center;
   margin-bottom: 0px;
}
.menu-footer li{
   padding: 10px 5px 0px 10px;
   list-style: none;
   font-size: 1.5rem;
   color: white;
   display: inline-flex;
   }
   .menu-footer li a{
   color: white;
   text-decoration: none;
   text-align: center;
}
.social{
   text-align: center;
   padding-top: 50px;
   font-family:"Montserrat", "Sans-Serif";
   font-size: large;
   }
   .social h3{
   color: black;
   size: 3rem;
   
   }
   .social img{
   padding:10px 10px ;
   width: 80px;
   height: 80px;
   background-color: #1085fb;
   border-radius: 10px;
}


/* PRODCUTOS */

.products{
   display: flex;
   justify-content: space-around;
   flex-direction: row ;
   flex-wrap: wrap;
   gap: 10px;
  
}
.product-card {
   width: 380px;
   position: auto;
   box-shadow: 0 2px 7px #dfdfdf;
   margin: 50px auto;
   background: #fafafa;
   overflow: hidden;
   
}

.badge {
   position: auto;
   left: 0;
   top: 20px;
   text-transform: uppercase;
   font-size: 13px;
   font-weight: 700;
   background: #1085fb;
   color: #fff;
   padding: 3px 10px;
}

.product-tumb {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 300px;
   padding: 50px;
   background: #f0f0f0;
}

.product-tumb img {
   max-width: 100%;
   max-height: 100%;
}

.product-details {
   padding: 30px;
}

.product-catagory {
   display: block;
   font-size: 12px;
   font-weight: 700;
   text-transform: uppercase;
   color: #ccc;
   margin-bottom: 18px;
}

.product-details h4 a {
   font-weight: 500;
   display: block;
   margin-bottom: 18px;
   text-transform: uppercase;
   color: #363636;
   text-decoration: none;
   transition: 0.3s;
}

.product-details h4 a:hover {
   color: #1085fb;
}

.product-details p {
   font-size: 15px;
   line-height: 22px;
   margin-bottom: 18px;
   color: #999;
}

.product-bottom-details {
   overflow: hidden;
   border-top: 1px solid #eee;
   padding-top: 20px;
}

.product-bottom-details div {
   float: left;
   width: 50%;
}

.product-price {
   font-size: 18px;
   color: #1085fb;
   font-weight: 600;
}

.product-price small {
   font-size: 80%;
   font-weight: 400;
   text-decoration: line-through;
   display: inline-block;
   margin-right: 5px;
}

.product-links {
   text-align: right;
}

.product-links a {
   display: inline-block;
   margin-left: 5px;
   color: #e1e1e1;
   transition: 0.3s;
   font-size: 17px;
}

.product-links a:hover {
   color: #1085fb;
}

.head-products{
   height: 400px;
   background: url( /img/bg.png);
   background-size: auto;
   max-width: 100%;
   display: flex;
   justify-content:center;
   flex-direction: row;
   align-items:flex-start;
   
   }
   .head-products h3{
      font-size: 2rem;
      color: #1085fb;
      margin-bottom: 20px;
      font-family: "Montserrat";
      font-weight: 400;
      text-align: center;
      margin-top: 20px;
   } 
   .head-products h2{
      font-size: 1.8rem;
      text-align: center;
      margin-top: 20px;
   }
   .head-products p{
      font-size: 1rem;
      text-align: center;
      margin-top: 20px;
      
   }
/* Animaciones */
@keyframes Opacity{
   from{opacity: 0;}
   to{opacity: 1;}
}

@media only screen and (max-width: 850px) {
    
   .navbar{
       position: relative;
   }
   .navbar .menu-bar{
       display: block;
       grid-column: 8 / 9;
       font-size: 1em;
       cursor: pointer;
       
   }

   .navbar .menu{
       position: absolute;
       width: 100%;
       height: 600px;
       display: grid;
       align-items: center;
       background-color:white;
       margin-top:650px;
       color: white;
       transform: translateX(250%);
       transition: transform 1s;
   }
   .navbar .menu-toggle{
       transform: translateX(0%);
       transition: transform 1s;
   }
   
}

@media only screen and (max-width: 690px){

   .logo-marcas img{
       height: 150px;
       width: 150px;
       margin-left: 20px;
   }

}

@media only screen and (max-width: 520px){
   .logo-marcas img{
       height: 130px;
       width: 130px;
       margin-left: 20px;
   }
}

@media only screen and (max-width: 430px){
   .head{
       margin-left: 1px;
   }
   .head h3{
       font-size: 1.8rem;   
   }
   .head h1{
       font-size: 2.5rem;    
   }
   .head p{
       font-size: 0.8rem;
       text-align: start;
       margin-left: 10px;
    }
   .btn{
       font-size: 1.5rem; 
       margin-left: 10px;
   }
   .servicios h2{
       font-size: 2.8rem;
       margin-left: 10px;
   }
   .servicios p{
       font-size: 0.8rem;
       margin-left: 10px;
   }
   .logo-marcas img{
       height: 120px;
       width: 120px;
       margin-left: 20px;
   }
   .marcas p{
       font-size: 0.8rem;
       margin-left: 10px;
   }
}